body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
